/*.App {
  display: flex;
  justify-content: center;
}*/

* {
  box-sizing: border-box;
}

.start {
  margin-top: 36px;

}
.hidden {
    display: none;
}


.title{
  text-align: center;
  border-bottom: 2px solid #cfd8dc; 
  padding-bottom: 8px;
  color: #37474f;
  font-family: 'Russo One', sans-serif;
}

.logoutButton {
  margin-right: 15px;
}

.blue-grey {
    position: relative;
}
.completed {
    position: absolute;
    right: 15px;
    top: 10px;

}
.tomato-icon {
    width: 50px;
    height: 50px;
}

.footer {
  height: 50px;
  width: 100%;
  background-color: #f2f2f2;
  text-align: center;
  position: fixed;
  bottom: 0;
  z-index: 999;
}