/*.App {
  display: flex;
  justify-content: center;
}*/

* {
  box-sizing: border-box;
}

.start {
  margin-top: 36px;

}
.hidden {
    display: none;
}

.header {
  font-size: 36px;
  font-weight: bold;
}

.title{
  text-align: center;
}
