* {
    box-sizing: border-box;
}


.timer {
    font-size: 45px;
    color: #607d8b;
}

.resetButton {
    text-align: center;
    background-color: #b0bec5; 
}

@media (max-width:509px) and (min-width:300px) {
    .timer {
        font-size: 40px;
    }
}