* {
    box-sizing: border-box;
}

.clockContainer {
    width: 500px;
    margin-left: 30px;
    padding-top: 15px; 
}

.clock {
    text-align: center;
}
/*targeting the second canvas element that comes with react-countdown-clock*/
canvas:nth-of-type(2) {
  position: relative !important;
}